venv
userApp/__pycache__
Users/Clash/__pycache__
__pycache__/
.idea
myenv
db.sqlite3
*.pyc
.vscode/launch.json
.vscode/settings.json
ClashRCRound2/__pycache__/__init__.cpython-38.pyc
ClashRCRound2/__pycache__/settings.cpython-38.pyc
ClashRCRound2/__pycache__/urls.cpython-38.pyc
ClashRCRound2/__pycache__/wsgi.cpython-38.pyc
Users/__pycache__/__init__.cpython-38.pyc
Users/__pycache__/admin.cpython-38.pyc
Users/__pycache__/apps.cpython-38.pyc
Users/__pycache__/models.cpython-38.pyc
Users/__pycache__/urls.cpython-38.pyc
Users/__pycache__/views.cpython-38.pyc
ClashRCRound2/__pycache__/__init__.cpython-38.pyc
ClashRCRound2/__pycache__/settings.cpython-38.pyc
ClashRCRound2/__pycache__/urls.cpython-38.pyc
Users/__pycache__/models.cpython-38.pyc
Users/__pycache__/urls.cpython-38.pyc
Users/__pycache__/views.cpython-38.pyc
