<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Responsive Page</title>
    {% load static %}
    <link rel="stylesheet" href="{% static '/css/crp_1.css' %}"/>
    <meta charset="utf-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
   <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
   <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</head>
  <body style="background-color: #001122; color:aliceblue;">
    <nav class="navbar navbar-expand-sm navbar-light justify-content-right nbt mr-0 ml-0 pb-0" style=" background-color: #010c16;  margin-bottom: 0.5vw;" >
        <div class="logo">
         <a class="navbar-brand mr-0 ml-0 pb-0 mt-2" href="#"><img src="{% static '/img/clashwhite.png' %}"  style="height: 40px;width: 80px;"></a>
        </div>
{#        <a class="navbar-brand nav-title" href="#" style="color: white">Result Page</a>#}
        <button class="navbar-toggler bg-light" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="#navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <!--div class="logo1">
            <a class="navbar-brand" href="#"><img style="margin-left: 200px;"
            src="clashwhite.png" ></a> 
           </div-->
        <div class="collapse navbar-collapse justify-content-end" id="navbarTogglerDemo02">
           <ul class="navbar-nav ">
            <li class="nav-item">
                <a id="lo" class="nav-link" href="{% url 'logout' %}" style="color: #fff">Return to Login Page</a>
            </li>
               <li>
            <a class="navbar-brand ml-sm-2 ml-auto mr-auto mt-0" href="#"><img src= "{% static '/img/logo pisb_2.png' %}" width="115px" height="40px" style="margin-right: 0%;"class="d-inline-block align-top" alt="pisb logo"></a>
                </li>
          </ul>
        </div>
      </nav>
      <div class="container-fluid">
          <div class="row">
              <div class="col-xl-1"></div>
             
              <div class="col-xl-3" style="padding-top:5vh ;margin-top: 2vh;">
                  <div class="card rank" style="background-color: #003546; border: 1px solid #014e68; height: 23vh">
                      <div class="card-body">
                          <h2 style="">RANK 1</h2>
                          <br>
                          <pre><strong style="color: aliceblue;">{{dict.0}}</strong></pre>
                      </div>
                  </div>
                  <div class="card rank" style=" background-color: #003546; border: 1px solid #014e68;height: 23vh">
                      <div class="card-body">
                          <h2>RANK 2</h2>
                          <br>
                          <pre><strong style="color: aliceblue;">{{dict.1}}</strong></pre>
                      </div>
                  </div>
                  <div class="card rank" style=" background-color: #003546; border: 1px solid #014e68;height: 23vh">
                      <div class="card-body">
                          <h2>RANK 3</h2>
                          <br>
                          <pre><strong style="color: aliceblue;">{{dict.2}}</strong></pre>
                      </div>
                  </div>
              </div>

             <!--</div>-->
              <div class="col-xl-4">
                 <div class="b" >
                   <div class="card" style="height:78vh; background-color: #003546; border: 1px solid #014e68; margin-top: 2.5vh;">
                      <div class="card-body" style="text-align: center;">
                        <!--<i class='fab fa-adn' style='font-size:48px'></i>-->
                        <div class="circle">
                            <div class="content">
                              <strong><h1>{{ initials }}</h1></strong>
                            </div>
                        </div>
                        <strong><h2 style="margin-bottom: 10.5vh;">{{ name }}</h2></strong>
                        <br><br>
                        <ul class="list-group " >
                            <li class="list-group-item d-flex justify-content-between align-items-center " style="background-color: #003546;font-size: 18px;border:#003546;font-size:3vh;">
                              RANK
                              <span class="badge badge-dark badge-pill">{{ rank }}</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center " style="background-color: #003546;font-size:18px ;border:#003546;font-size:3vh;">
                              SCORE
                              <span class="badge badge-dark badge-pill">{{ score }}</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center " style="background-color: #003546;font-size:18px  ;border:#003546;font-size:3vh;">
                              QUESTIONS ATTEMPTED
                              <span class="badge badge-dark badge-pill">{{que_attempted}}</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center " style="background-color: #003546;font-size: 18px;border:#003546;font-size:3vh;">
                                QUESTIONS SOLVED
                                <span class="badge badge-dark badge-pill">{{que_solved}}</span>
                              </li>
                          </ul>
                       </div>
                  </div>
                 </div>
              </div>
              <div class="col-xl-3" style="padding-top: 46px;">
                  <div class="card rank1" style=" background-color: #003546; border: 1px solid #014e68;height: 23vh ">
                      <div class="card-body">
                          <h2 class="" style="text-align: right;">RANK 4</h2>
                          <br>
                          <pre class="rn"><strong  style="color: aliceblue;text-align: end;">{{dict.3}}</strong></pre>
                      </div>
                  </div>
                  <div class="card rank1" style=" background-color: #003546; border: 1px solid #014e68;height: 23vh">
                      <div class="card-body">
                          <h2 style="text-align: right;">RANK 5</h2>
                          <br>
                          <pre class="rn"><strong style="color: aliceblue;text-align: end;">{{dict.4}}</strong></pre>
                      </div>
                  </div>
                  <div class="card rank1" style="background-color:#003546 ; border: 1px solid #014e68;height: 23vh">
                      <div class="card-body">
                          <h3 style="text-align: right;">RANK 6</h3>
                          <br>
                          <pre class="rn"><strong style="color: aliceblue;padding-right: 20px;text-align: end;">{{dict.5}}</strong></pre>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <nav id="navbar" class="navbar navbar-expand-sm navbar-light justify-content-center fixed-bottom">
          <p class="text-white mt-0 mb-0">&copyPICT IEEE Student Branch</p>
      </nav>
  </body>
</html>   
