{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
    <title>Waiting Page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="refresh" content="5">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <style>
        body{
            background-image: url("{% static 'images/1111111.jpg' %}");
            background-repeat: no-repeat;
            background-size: 100%;
            font-family:'Biryani', sans-serif ;
            color: #BBC7CE;
            overflow: hidden;
        }
                        @font-face{
    font-family: 'Biryani';
    src:url("{% static 'css/Biryani-Regular.ttf' %}");
}
    </style>
    </head>
    <body>
        <form>
            <div class="container-fluid">
                <div class="row" style="background-color: #000">
                    <div class="col-lg-5" style="height: 7vh;display: flex; justify-content: center;align-items: center;">
                        <div class="col-lg-3" style=" height: 7vh;">
                            <img src="{% static 'images/cc.png' %}" style="width: 5vw; height:7vh; display:flex;align-items: center;justify-content: center;color: white">
                        </div>
                        <div class="col-lg-9" style="padding-top: 2vh;height: 6vh; display: flex; align-items: center;color: white"><h5>Waiting Page</h5></div>
                    </div>
                    <div class="col-lg-2" style=" height: 7vh; display: flex; justify-content: center;align-items: center;color: white"></div>
                    <div class="col-lg-5" style=" height: 7vh;">
                        <div class="row">
                            <div class="col-lg-3 mt-1" style=" height: 6vh; display: flex; justify-content: center;align-items: center;"></div>
                            <div class="col-lg-3 mt-1" style=" height: 6vh; display: flex; justify-content: center;align-items: center;"></div>
                            <!-- The Modal -->
                            <div class="modal fade" id="logout">
                                    <div class="modal-dialog">
                                        <div class="modal-content">

                                            <!-- Modal Header -->
                                            <div class="modal-header">
                                            <h4 class="modal-title" style="color: black;">Are you sure you want to logout?</h4>
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            </div>

                                            <!-- Modal body -->
                                            <div class="modal-body">
                                            <p style="color: black;">Logging out will cause termination of your game and your score till this moment will be counted as your Final Score.
                                            </div>

                                            <!-- Modal footer -->
                                            <div class="modal-footer">
                                            <button type="button" class="btn btn-danger" data-dismiss="modal">Log Out</button>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            <div class="col-lg-3 mt-1" style="display: flex; justify-content: center; align-items: center;"></div>
                            <div class="col-lg-3 mt-1" style=" height: 6vh; display: flex; justify-content: center;align-items: center;">
                                <img src="{% static 'images/IEEE_logo.png' %}" style="height: 5vh;">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row" style="height: 86vh;">
                    <div style="height: 60vh; width: 50vw; margin: 13vh 25vw; background: transparent; border: 2px solid black; border-radius: 5px; box-shadow: 0 0 15px 1px rgb(2, 2, 2)">
                        <div style="text-align: center; font-size: 25px; margin-top: 1vh; color: whitesmoke;"><b>Please be Patient!</b></div>
                        <hr style="background-color: black;">
                        <div style="text-align: center; font-size: 25px; margin-top: 1vh; color: whitesmoke;"><b>Your game will start in some time.
                        hit the timer before starting, by appending the url by "/timer/" in new tab and then by clicking on submit button,
                            after clicking submit you should get "timer is set", come back to main page again and wait till the game start</b></div>

                    </div>
                </div>

                <div class="row" style="background-color: #000">
                    <div class="col-lg-12" style="font-size: 15px; border: 2px solid black; height:7vh; display: flex; justify-content: center; align-items: center; color: white">
                        &copy PICT IEEE STUDENT BRANCH
                    </div>
                </div>
            </div>
        </form>
    </body>
</html>
