*{
    padding-top:10px;
    
}
.col{
    margin:0px;
}
.card{
    margin: 0px;
    margin-left: 0px;
    margin-right: 0px;
    width:100%;
}
.fab fa-adn{
    text-align: center;
}
.list-group{
    border:none;
}