*{
    padding-top:10px;

}

img{
  width: 115px;
  transform: translateY(-20px);

}
.nav-title{
  position: relative;
  left:39%;
  color:white!important;

}
/*.nav-right{
  color:white!important;
  margin-right:1vw;*/
}

.logo{
  height:20px;
  width:120px;
  /*justify-content: left;*/
}



.col{
    margin:0px;
}
.card{
    margin: 0px;
    margin-left: 0px;
    margin-right: 0px;
    width:100%;
    box-shadow: 20px 20px 40px  black, -10px -8px 30px black;
    border: 1px solid #ffffff;
    /* opacity: 0.9; */
}
.fab fa-adn{
    text-align: center;
}
.b{

    z-index: 1;

}
.rank{
  z-index:-1;
}
.rank1{
  z-index:-1;
}

body{
    background-color: rgb(12,120,120);
  }

  .card:hover {
    /*transform: translateY(-20px);
    transition: 0.4s ease-out;*/

  }
  .rank:hover {
    transform: translateY(-20px);
    transition: 0.4s ease-out;
  }
  .rank1:hover {
    transform: translateY(-20px);
    transition: 0.4s ease-out;
  }


.navbar{
  height: 60px;
    background-color:rgba(0,0,0,0.3) ;
}
#navbar{
  height: 50px;
}


@media only screen and (min-width: 1200px)
{
  .rank{
    width:90%;
  margin-left:60px;
    /*margin-right: auto;
    transform: translate(-25px);*/

  }
  .rank1{
    width:90%;
    margin-left:-30px;
  }

}
@media only screen and (max-width: 425px)
{
  .rank{
    width:90%;
    margin-left:10px;
  }
  .rank1{
    width:90%;
    margin-left:10px;
  }
  .topnav-centered a {
    float: right;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(15%,-45%);
  }

  .nav-title{
    position: relative;
    left:auto;
    right: auto;
    color:white!important;

  }

}
@media only screen and (min-width: 768px) and (max-width: 1200px)
{
  .rank{
    width:90%;
    margin-left:40px;
    /*margin-right: auto;
    transform: translate(-25px);*/

  }
  .rank1{
    width:90%;
  margin-left:40px;
    /*margin-left: auto;
    transform: translate(65px);*/
  }
}
.circle{
  width:70px;
  height:70px;
  background:#ffffff ;
  margin:5% auto;
  border-radius:50%;
  position:relative;
}
.content{
  position:absolute;
  width:inherit;
  height:auto ;
  top:48%;
  transform:translateY(-50%);
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color:#001122;
  text-transform: capitalize;

}
/*
.card {
    display: flex;

    background-color: #17141d;
    border-radius: 10px;
    box-shadow: -1rem 0 3rem #000;
  /*   margin-left: -50px;
    transition: 0.4s ease-out;
    position: relative;
    left: 0px;
  }

  .card:not(:first-child) {
      margin-left: 50px;
  }

  .card:hover {
    transform: translateY(-20px);
    transition: 0.4s ease-out;
  }

  .card:hover ~ .card {
    position: relative;
    left: 50px;
    transition: 0.4s ease-out;
  } */