*
{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 1024px)
{
  #inst
  {
    margin-left: 470px;
  }
  /*#container
  {
    padding-bottom: 30%;
  }
 
  .col-sm-2 col-md-2::before
{
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-left: -1ch;
}*/
}
@media only screen and (max-width: 768px) {#adjust{padding: 12% !important;}}
@media only screen and (max-width: 500px) {#adjust{padding: 18% !important;}}
@media only screen and (max-width: 1222px) {#adjust{padding: 5% !important;}}


body
{
  background-color: #001122;
  overflow: auto;
  background-size: auto;
  background-repeat: no-repeat;
  background-position: absolute;
  align-items: center;
 
}
.mt-6 {
  margin-top: 3.2vw;
}
nav
{
  background:#142850;
  color : #fff;
  height: 55px;
  margin-bottom: 30px;
  overflow: hidden;
}

h6
{
  color:white;
  font-size: 22px;
  text-align: center;
  font-weight: bold;
}

a
{
  color:#fff;
}

/*
#container
{
  margin: auto;
  margin-top: 7px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
  border: none;
  height: 70%;
  min-height: 70%;
  box-shadow: 0 0 40px black;
  background:#003546;
  font-size: 10px;
  border-radius: 7px;
  width: auto;
  margin-bottom: 7px;
  padding-left: 30px;
  padding-top: 30px;
  padding-bottom: 30%;

}
*/


#proceed
{
  position: relative;
  display: inline-block;
  border-radius: 3px;
  border: none;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
  padding: 2px;
  cursor: pointer;
  margin-bottom: 4%;
  margin-top: 20px;
  min-width: 15%;
  font-weight: bold;
  height: 36px;
}

/*
#container p
{
    font-size: 20px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    color:white;
}
*/

nav
{
  font-size: medium;
}


#pisblogo
{
  width: 100px;
}

#navbar
{
  height: auto;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding-top: 1em;
  padding-bottom: 1em;
  background-color: #000c18;
  color: white;
  text-align: center;
  background-color: rgba(0,0,0,0.3);
  Font-size: large;
}

.card box text-light
{
  position: relative;
  display: inline-block;
  justify-content: center;
  float: none;
  margin-left: 0;
  margin-right: 0;
  vertical-align: middle;
}

@media only screen and (max-width: 768px) {#adjust{padding: 8% !important;}}
@media only screen and (max-width: 450px)
{ #adjust{padding: 14% !important;}
  .card box text-light
  {
    margin-left: 0;
    margin-right: 0;
  }
}
@media only screen and (max-width: 1222px) {#adjust{padding: 5% !important;}}

.box
{
  position: relative;
  margin: 0 ;
  padding: 0;
  margin-top: 7vh;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border: 0px;
  background:#003546;
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 1);
}

/*#footer
{
    display: flex;
    justify-content: center;
    bottom: 0;
    position: fixed;
    left:0;
    width: 100%;
    height: 55px;
    background-color: rgba(0,0,0,0.3);
    text-align: center;
    color: #fff;
    align-items: center;
    z-index: 2;
    padding-top: auto;
    padding-bottom: auto;
}*/