*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar
{
background-color: rgba(0,0,0,0.3);
font-family: "Segoe UI",Roboto,Arial, sans-serif;

}

.navbar-toggler-icon
{
  height: 1em;
  width: 1em;
}

h4{
  font-size: larger;
}
.text-gray{
  font-size: large;
}
.page-link{
  background-color: #003546 !important;
  color: #fff !important ;
  border: none!important;
}
.card
{
  text-align: center;
  box-shadow: 5px 5px 10px  black, -5px -5px 10px black !important;
  padding: 10px;
  margin-right: 1em;
  display: flex;
  flex-direction: column;
  background: #003546;
  color: white;
  z-index: 1;


}

.table
{
  height: fit-content;
}
/*@media screen and (min-width: 1024px)
{
}*/
@media only screen and (min-width: 1022px) {
  .Time
  {
  margin-left: 0% !important;
  }
  .progress-circle{
  font-size:large;
  }
  .card{
  align-items:center;
  }
  .circle{
  padding-top: 0.5em;
  padding-bottom: 0em;
  }
  #tc
  {
    font-size: 1.25em;
  }

}

@media screen and (max-width: 550px)
{
.card
{
  flex-direction: column;
  min-width: 100%;
  max-width: 100%;
}
#question{
  display: none;
}
table{
  width: 100%;
}

.ht{
  left:3%;
  font-size:1.2em;
}
.clock
{
  margin-left: 0 !important;

}


}
@media only screen and (max-width: 768px) {#adjust{padding: 8% !important;}}
@media only screen and (max-width: 500px) {#adjust{padding: 12% !important;}}
@media only screen and (max-width: 1222px) {#adjust{padding: 5% !important;}}
/*.footer
  {
      position: fixed;
      font-family: "Segoe UI",Roboto,Arial, sans-serif;
      left: 0;
      bottom: 0;
      width: 100%;
      padding-top: 1em;
      padding-bottom: 1em;
      background-color:rgba(0,0,0,0.3);
      color: white;
      text-align: center;
      font-size: large;
      font-family: "Segoe UI",Roboto,Arial, sans-serif';
  }*/

  footer{
    background-color:  #001122;
    font-family: "Segoe UI",Roboto,Arial,sans-serif;
    font-size:1.25em;

    }
.table,tr,th
{
text-align: center;
color: #fff;
font-size: 13px;
border-color: black;
padding: 1px;

}
th{
  text-align: center;
  color: #fff;
  font-size: 14px;
  padding: 1px;
  background-color: #010c16;
}
td
{
color: rgb(255, 255, 255);
font-size:14px;
border:none !important;
}

body
{
  background-size: auto;
  background-repeat: no-repeat;
  background-position: absolute;
  justify-content: center;
  height: fit-content;

}

#tc{
	color : white;
    padding-top: 0%;
  font-size: 120%;
  margin-left: auto;
}

.navbar
{
  font-size: large;
  color: rgb(255, 255, 255);
}

a.nav-link
{
  color: #fff;
  font-size: medium;
}


.table{

  text-align: center;
  color: #fff;
  font-size: 16px;
  border: none;
  height: 100%;
  width: 100%;
  background-color: #003546;
  box-shadow: 20px 20px 40px black, 0px -10px 30px black;

}

.avatar-circle
{
  width: 85px;
  height: 85px;
  background-color: skyblue;
  text-align : center;
  border-radius : 50%;
  border :black solid thin;
  box-shadow: 4px 4px 5px black;
  margin-left: auto;
  margin-right: auto;
}

.initials {
  position: relative;
  top: 1.2vw; /* 25% of parent */
  font-size: 40px; /* 50% of parent */
  line-height: 50px; /* 50% of parent */
  color: #fff;
  font-family: "Courier New", monospace;
  font-weight: bold;
  padding-bottom: 1em;
}

@media (max-width: 426px) {
  .clock{
         font-size: 4.5vw;
         margin-left: 0.1%;
     }
     .clock span{
         width:4vw;
     }
     #tc{

         margin-right:4.5vw;

     }
     .content{
        padding-top: 6 vw;
     }
     #clashlogo{
     height:30px;
     width:60px;
     }

 }
 @media (max-width: 376px) {
  .clock{
         font-size: 3.8vw;
         margin-left: 1%;
     }
     .clock span{
         width:2.9vw;
     }
     #tc{
         font-size: 100%;
     }
 }
 @media (max-width: 321px){
     .clock{
         font-size: 3.9vw;
         margin-left: 0.9%;
     }
     .clock span{
         width:3.3vw;
     }
     #tc{
         font-size: 80%;
         margin-left: 0vw;
         padding-top: 2%;
     }
     #clashlogo{

     width: 55px;
     height: 30px;


  }

 }



 @media screen and (min-width: 576px) {
   #tc {position: relative;
   margin-left: 0%;
        }



 }
 @media screen and (min-width: 1000px) {
     #tc {position: relative;
     margin-left: 14%;
        }
 }
  @media screen and (min-width: 1013px) {
   #tc {position: relative;
   margin-left: 10%;
        }
 }
 @media screen and (min-width: 1024px) {
     #tc {position: relative;
     margin-left: 15%;
        }
 }
 @media screen and (min-width: 1110px) {
   #tc {position: relative;
   margin-left: 18%;
        }
 }
 @media screen and (min-width: 1440px) {
     #tc {position: relative;
     margin-left: 20%;
        }
 }
 @media screen and (min-width: 1500px) {
     #tc {position: relative;
     margin-left: 22%;
        }


 }
 @media screen and (min-width: 1900px) {
     #tc {position: relative;
     margin-left: 23%;
        }

 }


.pie-wrapper {
  height: 1em;
  width: 1em;
  float: left;
  margin: 15px;
  position: relative;
}
.pie-wrapper:nth-child(3n + 1) {
  clear: both;
}
.pie-wrapper .pie {
  height:100%;
  width: 100%;
  clip: rect(0, 1em, 1em, 0.5em);
  left: 0;
  position: absolute;
  top: 0;
}
.pie-wrapper .pie .half-circle {
  height:100%;
  width: 100%;
  border: 0.1em solid #000000;
  border-radius: 50%;
  clip: rect(0, 0.5em, 1em, 0);
  left: 0;
  position: absolute;
  top: 0;
}
.pie-wrapper .label {
  background: #002244;
  border-radius: 50%;
  bottom: 0.4em;
  color: #ffffff;
  cursor: default;
  display: block;
  font-size: 0.25em;
  left: 0.4em;
  line-height: 2.8em;
  position: absolute;
  right: 0.4em;
  text-align: center;
  top: 0.4em;
}
.pie-wrapper .label .smaller {
  color: #ffffff;
  font-size: .45em;
  padding-bottom: 20px;
  vertical-align: super;
}
.pie-wrapper .shadow {
  height: 100%;
  width: 100%;
  border: 0.1em solid #bdc3c7;
  border-radius: 50%;
}
.pie-wrapper.style-2 .label {
  background: none;
  color: rgb(179, 174, 174) ;
}
.pie-wrapper.style-2 .label .smaller {
  color: #bdc3c7;
}

.pie-wrapper--solid {
  border-radius: 50%;
  overflow: hidden;
}
.pie-wrapper--solid:before {
  border-radius: 0 100% 100% 0 / 50%;
  content: '';
  display: block;
  height: 100%;
  margin-left: 50%;
  -webkit-transform-origin: left;
          transform-origin: left;
}
.pie-wrapper--solid .label {
  background: transparent;
}
.set-size {
  font-size: 7em;
}

.pie-wrapper.progress-10 .pie .half-circle {
  border-color: #ffa500;
}
.pie-wrapper.progress-10 .pie .left-side {
  -webkit-transform: rotate(36deg);
          transform: rotate(36deg);
}
.pie-wrapper.progress-10 .pie .right-side {
  display: none;
}


.pie-wrapper.progress-20 .pie .half-circle {
  border-color: #ffa500;
}
.pie-wrapper.progress-20 .pie .left-side {
  -webkit-transform: rotate(72deg);
          transform: rotate(72deg);
}
.pie-wrapper.progress-20 .pie .right-side {
  display: none;
}

  .pie-wrapper.progress-30 .pie .half-circle {
    border-color: #3498db;
  }
  .pie-wrapper.progress-30 .pie .left-side {
    -webkit-transform: rotate(108deg);
            transform: rotate(108deg);
  }
  .pie-wrapper.progress-30 .pie .right-side {
    display: none;
  }


.pie-wrapper.progress-40 .pie .half-circle {
  border-color: #ffa500;
}
.pie-wrapper.progress-40 .pie .left-side {
  -webkit-transform: rotate(144deg);
          transform: rotate(144deg);
}
.pie-wrapper.progress-40 .pie .right-side {
  display: none;
}


.pie-wrapper.progress-45 .pie .half-circle {
  border-color: #1abc9c;
}
.pie-wrapper.progress-45 .pie .left-side {
  -webkit-transform: rotate(162deg);
          transform: rotate(162deg);
}
.pie-wrapper.progress-45 .pie .right-side {
  display: none;
}


.pie-wrapper.progress-50 .pie .half-circle {
  border-color: #ffa500;
}
.pie-wrapper.progress-50 .pie .left-side {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.pie-wrapper.progress-50 .pie .right-side {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}


.pie-wrapper.progress-60 .pie {
  clip: rect(auto, auto, auto, auto);
}
.pie-wrapper.progress-60 .pie .half-circle {
  border-color: #ffa500;
}
.pie-wrapper.progress-60 .pie .left-side {
  -webkit-transform: rotate(216deg);
          transform: rotate(216deg);
}
.pie-wrapper.progress-60 .pie .right-side {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}


.pie-wrapper.progress-70 .pie {
  clip: rect(auto, auto, auto, auto);
}
.pie-wrapper.progress-70 .pie .half-circle {
  border-color: #ffa500;
}
.pie-wrapper.progress-70 .pie .left-side {
  -webkit-transform: rotate(240deg);
          transform: rotate(240deg);
}
.pie-wrapper.progress-70 .pie .right-side {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}


  .pie-wrapper.progress-75 .pie {
    clip: rect(auto, auto, auto, auto);
  }
  .pie-wrapper.progress-75 .pie .half-circle {
    border-color: #8e44ad;
  }
  .pie-wrapper.progress-75 .pie .left-side {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
  .pie-wrapper.progress-75 .pie .right-side {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }


.pie-wrapper.progress-80 .pie {
  clip: rect(auto, auto, auto, auto);
}
.pie-wrapper.progress-80 .pie .half-circle {
  border-color: #ffa500;
}
.pie-wrapper.progress-80 .pie .left-side {
  -webkit-transform: rotate(294deg);
          transform: rotate(294deg);
}
.pie-wrapper.progress-80 .pie .right-side {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

  .pie-wrapper.progress-90 .pie {
    clip: rect(auto, auto, auto, auto);
  }
  .pie-wrapper.progress-90 .pie .half-circle {
    border-color: #ffa500;
  }
  .pie-wrapper.progress-90 .pie .left-side {
    -webkit-transform: rotate(324deg);
            transform: rotate(324deg);
  }
  .pie-wrapper.progress-90 .pie .right-side {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }


  .pie-wrapper.progress-95 .pie {
    clip: rect(auto, auto, auto, auto);
  }
  .pie-wrapper.progress-95 .pie .half-circle {
    border-color: #e74c3c;
  }
  .pie-wrapper.progress-95 .pie .left-side {
    -webkit-transform: rotate(342deg);
            transform: rotate(342deg);
  }
  .pie-wrapper.progress-95 .pie .right-side {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }


.pie-wrapper.progress-100 .pie {
  clip: rect(auto, auto, auto, auto);
}
.pie-wrapper.progress-100 .pie .half-circle {
  border-color: #ffa500;
}
.pie-wrapper.progress-100 .pie .left-side {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}
.pie-wrapper.progress-100 .pie .right-side {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

  .pie-wrapper--solid {
    border-radius: 50%;
    overflow: hidden;
  }
  .pie-wrapper--solid:before {
    border-radius: 0 100% 100% 0 / 50%;
    content: '';
    display: block;
    height: 100%;
    margin-left: 50%;
    -webkit-transform-origin: left;
            transform-origin: left;
  }
  .pie-wrapper--solid .label {
    background: transparent;
  }
  .pie-wrapper--solid.progress-65 {
    background: -webkit-gradient(linear, left top, right top, color-stop(50%, #e67e22), color-stop(50%, #34495e));
    background: linear-gradient(to right, #e67e22 50%, #34495e 50%);
  }
  .pie-wrapper--solid.progress-65:before {
    background: #e67e22;
    -webkit-transform: rotate(126deg);
            transform: rotate(126deg);
  }
  .pie-wrapper--solid.progress-25 {
    background: -webkit-gradient(linear, left top, right top, color-stop(50%, #9b59b6), color-stop(50%, #34495e));
    background: linear-gradient(to right, #9b59b6 50%, #34495e 50%);
  }
  .pie-wrapper--solid.progress-25:before {
    background: #34495e;
    -webkit-transform: rotate(-270deg);
            transform: rotate(-270deg);
  }
  .pie-wrapper--solid.progress-88 {
    background: -webkit-gradient(linear, left top, right top, color-stop(50%, #3498db), color-stop(50%, #34495e));
    background: linear-gradient(to right, #3498db 50%, #34495e 50%);
  }
  .pie-wrapper--solid.progress-88:before {
    background: #3498db;
    -webkit-transform: rotate(43.2deg);
            transform: rotate(43.2deg);
  }

  .clock {
    font-size:1.5vw;
    color: #ffffff;
    position: relative;
    text-align: center;
    overflow: hidden;
    border: 1px solid black;
    border-radius:3px;
    padding:0.2vw;
    box-sizing: border-box;
    background-color: #1c1c1f;
    box-shadow: inset 0 0 5px 2px black;
    margin-left: 8vw;
  }

  .clock span {
    position: relative;
    display: inline-block;
    width: 1.8vw;
    font-family:Advent Pro;
  }

  .clock span:nth-child(2),
  .clock span:nth-child(4) {
    border-right: 1px solid rgb(0, 0, 0);
  }

  .clock span:before,
  .clock span:after {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    backface-visibility: hidden;
    transition: transform .75s;
  }

  .clock span:before {
    content: attr(data-old);
    z-index: 1;
    transform: translate3d(0,0,0);
  }

  .clock .flip:before {
    transform: translate3d(0,102.5%,0);
  }

  .clock span:after {
    content: attr(data-now);
    z-index: 2;
    transform: translate3d(0,-102.5%,0);
  }

  .clock .flip:after {
    transform: translate3d(0,0,0);
  }
