html, body {
    max-width: 100%;
    overflow-x: hidden;
}
 body{
 	  margin:0;
 	  padding:0;
 	   background: #001122 ;
 	  background-size: cover;
 	  background-position: center;
 	  font-family: sans-serif;

 }	 
 img{
 	width: 100px;
 	

 	
 }
 #clashlogo{
 	
 	width: 80px;
 	height: 40px;

 }
 
 #navbar{
background: rgba(0,0,0,0.3);
}
#tc{
	color : white;	
	font-size: 18px;
}

#qh{
	color : white;
		
}

#lb{
	color : white ;
	
}

#lo{
	color : white ;
 
}

#tc1{
	background:#003546 ;
	color: white;
	box-shadow: 2.5px 2.5px 10px  black;
	

}
#tc2{
	background: #003546;
	color: white;
	box-shadow: 2.5px 2.5px 10px  black ;
	
}
#tc3{
	background: #003546;
	color: white;
	box-shadow: 2.5px 2.5px 10px  black ;
	
}
#tc4{
	background: #003546;
	color: white;
	box-shadow: 2.5px 2.5px 10px  black;
	
}
#tc5{
	background: #003546;
	color: white;
	box-shadow: 2.5px 2.5px 10px  black;
	
}
#tc6{
	background: #003546;
	color: white;
	box-shadow: 2.5px 2.5px 10px  black;
}
#status{
	
	border-radius: 10px;
	width: 20px;
	font-size: 20px;
	margin-right: 6px;
	padding-top: 25px;
	height: 130px;
	width: 30px;
	color: white;
	background: #003546;
	
	box-shadow: 2.5px 2.5px 10px  black ;
}
#ac{
	margin-top: 0px;
}

#score{
	
	border-radius: 10px;
	width: 20px;
	font-size: 20px;
	margin-right: 6px;
	padding-top: 25px;
	height: 130px;
	color: white;
	background: #003546;
	
	box-shadow: 2.5px 2.5px  10px black ;
}

.pass{
	background: rgba(51, 255, 51, 0.6) ;
	border-radius: 3px;
	color: rgba(0, 0, 0, 0.7);
}
.fail{
	background:rgba(255, 0, 0, 0.6) ;
	border-radius: 3px;
	color: rgba(0, 0, 0, 0.7);
}

.retry{
	background: rgba(204, 211,223,0.897);
	color: white;
}

button:hover{
 box-shadow: 1.5px 1.5px 4px 0.5px black;
	
}


    

#consoleb{
	height: 290px;
	border-radius: 10px;
	
	background: #003546;
	box-shadow: 2.5px 2.5px  10px 0.5px black ;
}
#consoleh{
	border-bottom: white 1.5px solid;
	font-size: 20px;	
}

@media screen and (min-width:1024px ){
	#tc{
		margin-left: 470px;
	}


}