<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
 {% for message in messages %}

                    <div class="alert alert-success">
                        <a class="close" href="#" data-dismiss="alert">×</a>

                        {{ message }}

                    </div>
            {% endfor %}
<form action="" method="post">
    <h1>Sign Up</h1>
    {% csrf_token %}
    <label>Username:</label>
    <input type="text" name="username"><br><br>
    <label>Password:</label>
    <input type="password" name="password"><br><br>
    <label>Name:</label>
    <input type="text" name="name"><br><br>
    <label>Phone Number:</label>
    <input type="text" name="phone"><br><br>
    <label>Email:</label>
    <input type="email" name="email"><br><br>
    <label>Language (C++ , Python):</label>
    <input type="text" name="def_lang"><br><br>
    <label>College:</label>
    <input type="text" name="college"><br><br>


<input type="submit" value="SUBMIT"><br><br>

    <small>
Already registered users <a href={% url "login" %}>Click here</a>
    </small>
</form>
</body>
</html>