<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
</head>
<body>
<form action="" method="post">
    {% csrf_token %}
    <label>Username:</label>
    <input type="text" name="username"><br>
    <label>Password:</label>
    <input type="password" name="password"><br>
    <label>Name:</label>
    <input type="text" name="name"><br>
    <label>Phone Number:</label>
    <input type="text" name="phone"><br>
    <label>Email:</label>
    <input type="email" name="email"><br>
    <label>College:</label>
    <input type="text" name="college"><br>

<input type="submit" value="SUBMIT">
</form>
</body>
</html>