<html><head>
  <title>Leaderboard</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width= device-width, initial-scale= 1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

  {% load static %}
  <link rel="stylesheet" href="{% static '/css/LEAD.css' %}">

</head>

 <body style="background-color: #001122;">

   <nav id="navbar" class="navbar navbar-expand-sm navbar-light" >
   <a class="navbar-brand mr-0 ml-0 pb-0" href="#" style="margin-right: 0; padding: 0em;"> <img id="clashlogo" src="{% static '/img/clashwhite.png' %}" width="100" height="45" alt=""> </a>
   <a id="tc" class="nav-link justify-content-center" href="#" style="color:#fff; font-size: large;">Leaderboard</a>

    <button class="navbar-toggler bg-light"  type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
   </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarTogglerDemo02">
     <ul class="navbar-nav ml-auto">
      <li class="nav-item">
          <a id="qh" class="nav-link" href="{% url 'questionhub' %}" style="color: #fff">Question Hub</a>
      </li>
      <li class="nav-item">
          <a id="lb" class="nav-link" href="{% url 'showSubmissions' 1 %}" style="color: #fff">Submissions</a>
      </li>
      <li class="nav-item">
          <a id="lo" class="nav-link" href="{% url 'logout' %}" style="color: #fff">Logout</a>
      </li>
      <li class="nav-item "> <a class="navbar-brand" href="#"> <img src="{% static '/img/logo pisb_2.png' %}" width="100" height="30" class="d-inline-block align-top" alt="pisb logo"> </a> </li>
     </ul>
    </div>
   </nav>

  <main>
   <div class="container-fluid">
    <div class="row justify-content-center">
     <div class="col-sm-3 col-md-3 " style="height: 90vh;">
      <div class="card" style="border: black solid thin ;background-color: #003546; border-radius: 7px;height:100%;margin-right: -30px; margin-top: 1.5em;">
       <div class="card-body">
        <br>
        <br>
        <div class="avatar-circle">
         <span class="initials">CL</span>
        </div>
        <div>
         <p style="font-size: medium;padding: 10px;">{{ current_user.username }}</p>
        </div>
        <div>
         <div>
          <div class="h1 font-weight-bold mb-0">
            Rank
          </div>
          <span class=" text-gray">{{ user_rank }}</span>
         </div>
         <div>
          <div class="h1 font-weight-bold mb-0">
            Score
          </div>
          <span class=" text-gray">{{ user_score }}</span>
         </div>
        </div>


        <div class="h1 font-weight-bold mb-0">
          Status
        </div>
        <div class="circle" style="padding-bottom:1em ;">
         <div class="container align-items-center d-flex justify-content-center">
          <div class="set-size charts-container ">
           <div class="pie-wrapper progress-90">
            <span class="label">90<span class="smaller">%</span></span>
            <div class="pie">
             <div class="left-side half-circle"></div>
             <div class="right-side half-circle"></div>
            </div>
           </div>
          </div>
         </div>
        </div>
       </div>
      </div>
     </div>
     <br>
     <div class="col-sm-8 col-md-8">
      <table class="table table-responsive-sm table-responsive-md " style="margin-top: 1em;">
       <thead>
        <tr style="color:white; text-align-last: center;">
         <th>RANK</th>
         <th>USERNAME</th>
         <th>Q1</th>
         <th>Q2</th>
         <th>Q3</th>
         <th>Q4</th>
         <th>Q5</th>
         <th>Q6</th>
         <th>TOTAL SCORE</th>
        </tr>
       </thead>
          <tbody>
           <tr class="rank">
       {% for user, scores in data %}
            <td>{{ forloop.counter }}</td>
            <td>{{ user.username }}</td>
            <td>{{ scores.0 }}</td>
            <td>{{ scores.1 }}</td>
            <td>{{ scores.2 }}</td>
            <td>{{ scores.3 }}</td>
            <td>{{ scores.4 }}</td>
            <td>{{ scores.5 }}</td>
            <td>{{ scores.6 }}</td>
           </tr>
       {% endfor %}
       </tbody>
      </table>
      <nav aria-label="Page navigation example" style="text-align: center;  font-size: medium;">
       <ul class="pagination justify-content-center">
        <li class="page-item disabled"> <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a> </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"> <a class="page-link" href="#">Next</a> </li>
       </ul>
      </nav>
     </div>
    </div>
   </div>
  </main>
  <br>
  <br>
  <br>

  <footer id="footer">
   <div id="footer-content">
    <p style="font-size: large;"><span>©</span>PICT IEEE Student Branch</p>
   </div>
  </footer>


</body></html>