<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<main>
<h1>Welcome</h1>
<h1>RESET YOUR PASSWORD HERE</h1>
<main>
                 {% if messages %}
                   {% for message in messages %}
                      <div class="alert alert-{{messages.tags}}">
                      {{message}}
                      </div>
                   {% endfor %}
                 {% endif %}
</main>
<form method="post">
        {% csrf_token %}
        <label for="Enter username">Username: </label>
        <input type="text" name="unam" id="unam"><br><br>

        <label for="Enter new password">NewPassword: </label>
        <input type="password" name="pas" id="pas"><br><br>

        <label for="Confirm password">ConfirmPassword: </label>
        <input type="password" name="pas1" id="pas1"><br><br>

        <button type="submit">Submit</button><br><br>
    </form>
<small>
Login<a href={% url "login" %}>Click here</a>
</small>
</body>
</html>
