<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QUESTION HUB</title>
  {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static '/css/questionhub.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/css/questionhubnav.css' %}">
</head>

<body>

<!-- navbar -->
  <nav class="navbar fixed-top navbar-expand-xl">
    <img class="clashlogo" style="width: 60px; height: 30px;"
        src="{% static '/img/clashwhite.png' %}" height="30px">
        <div class="topnav-centered">
          <h5>Question Hub</h5>
        <!-- <table class="table-bordered">
                <thead>
                  <tr>
                    <th class="px-3" scope="col"><h4>x</h4></th>
                    <th class="px-3" scope="col"><h4>x</h4></th>
                    <th class="px-3" scope="col"><h4>x</h4></th>
                  </tr>
                </thead>
              </table> -->
        </div>
      <button class="navbar-toggler navbar-dark" type="button"
      data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon "></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'showSubmissions' 1 %}">Submissions</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'leaderboard' %}">Leaderboard</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="{% url 'logout' %}">Logout</a>
        </li>
        <li class="nav-item">
          <h7 class="nav-link" data-toggle="modal" data-target="#loginModal">
            <i style="margin-right: 4px;" class="fas fa-pencil-alt"></i><img src="{% static '/img/logo pisb_2.png' %}" class="pisblogo" style="width: 110px; height: 30px;"></h7>
        </li>
      </ul>
    </div>
  </nav>

<!-- navend -->


<div class="container-fluid">
<div class="row mx-auto">
  {% for question in questions %}
<div class="col-xl-4">
  <div class="col-md-8 p-8 mr-8 grid" class="ques">
        <div class="wrapper container pt-5">
          <a onclick="window.location.href='{% url 'question_view' question.id %}'"><div class="card text-center">
            <div class="card-header">
              Question {{ forloop.counter }}
            </div>
            <div class="card-body mx-auto">
              <p>Submissions: {{ question.totalSubmision }}</p>
              <p>Accuracy</p>
            <div class="set-size charts-container">
              <div id="progress0" class="pie-wrapper mx-auto">
                <span id="accuracy0" class="label">{{ question.accuracy }}<span class="smaller"> %</span></span>
                <div class="pie">
                  <div class="left-side half-circle"></div>
                  <div class="right-side half-circle"></div>
                </div>
              </div>
            </div>
                <!-- <button type="button" class="btn btn-info">Primary</button> -->
            </div>
          </div></a>
  </div>
</div>
</div>
  {% endfor %}

</div>
</div>


<!-- footer -->
<div class="footer">
  <p>©PICT IEEE Student Branch</p>
</div>
<!-- footer -->

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
  let accuracy0 = parseFloat(document.querySelector('#accuracy0').innerHTML);
  let progress0 = document.querySelector('#progress0');
  console.log(accuracy0)
  if (0<accuracy0 && accuracy0<=10) {
    progress0.classList.add('progress-10');
  }
  else if (10<accuracy0 && accuracy0<=20)
  {
    progress0.classList.add('progress-20');
  }
  else if (20<accuracy0 && accuracy0<=30 && accuracy0!=25)
  {
    progress0.classList.add('progress-30');
  }
  else if (accuracy0==25)
  {
    progress0.classList.add('progress-25');
  }
  else if (30<accuracy0 && accuracy0<=40)
  {
    progress0.classList.add('progress-40');
  }
  else if (40<accuracy0 && accuracy0<=50)
  {
    progress0.classList.add('progress-50');
  }
  else if(50<accuracy0 && accuracy0<=60)
  {
    progress0.classList.add('progress-60');
  }
  else if(60<accuracy0 && accuracy0<=70)
  {
    progress0.classList.add('progress-70');
  }
  else if(70<accuracy0 && accuracy0<=80 && accuracy0!=75)
  {
    progress0.classList.add('progress-80');
  }
  else if(accuracy0==75)
  {
    progress0.classList.add('progress-75');
  }
  else if(80<accuracy0 && accuracy0<=90)
  {
    progress0.classList.add('progress-90');
  }
  else if(accuracy0>=90 && accuracy0<100)
  {
      progress0.classList.add('progress-90');
  }
  else if(accuracy0==100)
  {
      progress0.classList.add('progress-100');
  }
</script>
</body>
</html>