<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QUESTION HUB</title>
  {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static '/css/questionhub.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/css/questionhubnav.css' %}">
</head>

<body>

<!-- navbar -->
  <nav class="navbar fixed-top navbar-expand-xl">
    <img class="clashlogo" style="width: 80px; height: 40px;"
        src="{% static '/img/clashwhite.png' %}" height="45px">
        <div class="topnav-centered ht">
          <h5 class="ht">Question Hub</h5>
        <!-- <table class="table-bordered">
                <thead>
                  <tr>
                    <th class="px-3" scope="col"><h4>x</h4></th>
                    <th class="px-3" scope="col"><h4>x</h4></th>
                    <th class="px-3" scope="col"><h4>x</h4></th>
                  </tr>
                </thead>
              </table> -->
        </div>
      <button class="navbar-toggler navbar-dark" type="button"
      data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon "></span>
    </button>
    <span class="clock"></span>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'showSubmissions' 1 %}">Submissions</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'leaderboard' %}">Leaderboard</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" data-target="#staticBackdrop" data-toggle="modal"  href="{% url 'logout' %}">Logout</a>
        </li>
        <li class="nav-item">
          <h7 class="nav-link" data-toggle="modal" data-target="#loginModal">
            <i style="margin-right: 4px;" class="fas fa-pencil-alt"></i><img src="{% static '/img/logo pisb_2.png' %}" class="pisblogo" style="width: 115px; height: 40px;"></h7>
        </li>
      </ul>
    </div>
    <!-- Modal -->
              <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="staticBackdropLabel">Logout</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      Do you really want to Log out?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" onclick="window.location.href ='{% url 'logout' %}'">Yes</button>
                      <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>

                    </div>
                  </div>
                </div>
              </div>

  </nav>

<!-- navend -->


<div class="container-fluid">
<div class="row mx-auto">
  {% for question in questions %}
<div class="col-xl-4">
  <div class="col-md-8 p-8 mr-8 grid" class="ques">
        <div class="wrapper container pt-5">
          <a onclick="window.location.href='{% url 'question_view' question.id %}'"><div class="card text-center">
            <div class="card-header">
              Question {{ forloop.counter }}
            </div>
            <div class="card-body mx-auto">
              <p>Submissions: {{ question.totalSubmision }}</p>
              <p>Accuracy</p>
            <div class="set-size charts-container">
              <div id="progress{{ question.id }}" class="pie-wrapper">
                <span id="accuracy{{ question.id }}" class="label">{{ question.accuracy }}<span class="smaller"> %</span></span>
                <div class="pie">
                  <div class="left-side half-circle"></div>
                  <div class="right-side half-circle"></div>
                </div>
              </div>
            </div>
                <!-- <button type="button" class="btn btn-info">Primary</button> -->
            </div>
          </div>
          </a>
  </div>
</div>
</div>
  <script>

  let accuracy{{ question.id }}= parseFloat(document.querySelector('#accuracy{{ question.id }}').innerHTML);
  let progress{{ question.id }} = document.querySelector('#progress{{ question.id }}');

  if (0<accuracy{{ question.id }} && accuracy{{ question.id }}<=10) {
    progress{{ question.id }}.classList.add('progress-10');
  }
  else if (10<accuracy{{ question.id }} && accuracy{{ question.id }}<=20)
  {
    progress{{ question.id }}.classList.add('progress-20');
  }
  else if (20<accuracy{{ question.id }} && accuracy{{ question.id }}<=30 && accuracy{{ question.id }}!=25)
  {
    progress{{ question.id }}.classList.add('progress-30');
  }
  else if (accuracy{{ question.id }}==25)
  {
    progress{{ question.id }}.classList.add('progress-25');
  }
  else if (30<accuracy{{ question.id }} && accuracy{{ question.id }}<=40)
  {
    progress{{ question.id }}.classList.add('progress-40');
  }
  else if (40<accuracy{{ question.id }} && accuracy{{ question.id }}<=50)
  {
    progress{{ question.id }}.classList.add('progress-50');
  }
  else if(50<accuracy{{ question.id }} && accuracy{{ question.id }}<=60)
  {
    progress{{ question.id }}.classList.add('progress-60');
  }
  else if(60<accuracy{{ question.id }} && accuracy{{ question.id }}<=70)
  {
    progress{{ question.id }}.classList.add('progress-70');
  }
  else if(70<accuracy{{ question.id }} && accuracy{{ question.id }}<=80 && accuracy{{ question.id }}!=75)
  {
    progress{{ question.id }}.classList.add('progress-80');
  }
  else if(accuracy{{ question.id }}==75)
  {
    progress{{ question.id }}.classList.add('progress-75');
  }
  else if(80<accuracy{{ question.id }} && accuracy{{ question.id }}<=90)
  {
    progress{{ question.id }}.classList.add('progress-90');
  }
  else if(accuracy{{ question.id }}>=90 && accuracy{{ question.id }}<100)
  {
      progress0.classList.add('progress-90');
  }
  else if(accuracy{{ question.id }}==100)
  {
      progress{{ question.id }}.classList.add('progress-100');
  }
</script>

  {% endfor %}

</div>
</div>


<!-- footer -->
<div class="footer">
  <p>©PICT IEEE Student Branch</p>
</div>
<!-- footer -->

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>

  let accuracy0 = parseFloat(document.querySelector('#accuracy').innerHTML);
  let progress0 = document.querySelector('#progress');

  if (0<accuracy0 && accuracy0<=10) {
    progress0.classList.add('progress-10');
  }
  else if (10<accuracy0 && accuracy0<=20)
  {
    progress0.classList.add('progress-20');
  }
  else if (20<accuracy0 && accuracy0<=30 && accuracy0!=25)
  {
    progress0.classList.add('progress-30');
  }
  else if (accuracy0==25)
  {
    progress0.classList.add('progress-25');
  }
  else if (30<accuracy0 && accuracy0<=40)
  {
    progress0.classList.add('progress-40');
  }
  else if (40<accuracy0 && accuracy0<=50)
  {
    progress0.classList.add('progress-50');
  }
  else if(50<accuracy0 && accuracy0<=60)
  {
    progress0.classList.add('progress-60');
  }
  else if(60<accuracy0 && accuracy0<=70)
  {
    progress0.classList.add('progress-70');
  }
  else if(70<accuracy0 && accuracy0<=80 && accuracy0!=75)
  {
    progress0.classList.add('progress-80');
  }
  else if(accuracy0==75)
  {
    progress0.classList.add('progress-75');
  }
  else if(80<accuracy0 && accuracy0<=90)
  {
    progress0.classList.add('progress-90');
  }
  else if(accuracy0>=90 && accuracy0<100)
  {
      progress0.classList.add('progress-90');
  }
  else if(accuracy0==100)
  {
      progress0.classList.add('progress-100');
  }
</script>
      <script>
                    var Clock = (function(){
                      var exports = function(element) {
                        this._element = element;
                        var html = '';
                        for (var i=0;i<6;i++) {
                          html += '<span>&nbsp;</span>';
                        }
                        this._element.innerHTML = html;
                        this._slots = this._element.getElementsByTagName('span');
                        this._tick();
                      };
                      exports.prototype = {
                        _tick:function() {
                          var time = new Date();
                          this._update(this._pad(time.getHours()) + this._pad(time.getMinutes()) + this._pad(time.getSeconds()));
                          var self = this;
                          setTimeout(function(){
                            self._tick();
                          },1000);
                        },
                        _pad:function(value) {
                          return ('0' + value).slice(-2);
                        },
                        _update:function(timeString) {
                          var i=0,l=this._slots.length,value,slot,now;
                          for (;i<l;i++) {
                            value = timeString.charAt(i);
                            slot = this._slots[i];
                            now = slot.dataset.now;
                            if (!now) {
                              slot.dataset.now = value;
                              slot.dataset.old = value;
                              continue;
                            }
                            if (now !== value) {
                              this._flip(slot,value);
                            }
                          }
                        },
                        _flip:function(slot,value) {
                          slot.classList.remove('flip');
                          slot.dataset.old = slot.dataset.now;
                          slot.dataset.now = value;
                          slot.offsetLeft;
                          slot.classList.add('flip');
                        }
                      };
                      return exports;
                    }());
                    var i=0,clocks = document.querySelectorAll('.clock'),l=clocks.length;
                    for (;i<l;i++) {
                      new Clock(clocks[i]);
                    }


             /*
              let countdown = 3 * 60;
              const timerBlock = document.querySelector('#timer');
              const x = setInterval(() => {
                countdown=countdown-1;
                let hours = Math.floor(countdown);
                let minutes = Math.floor(countdown / 60);
                let seconds = Math.floor(countdown-minutes*60);
                if (countdown < 0) {
                  timerBlock.innerHTML = 'Expired';
                  clearInterval(x);
                }
                timerBlock.innerHTML = `Time-Left : ${hours} :  ${minutes} : ${seconds}`;
              }, 1000);*/

               /* window.onload = function() {
                var hours = 0;
                var minute = 0;
                var sec = 60;
                setInterval(function() {
                  document.getElementById("timer").innerHTML = hours + " : " + minute + " : " + sec;
                  sec--;
                  if(sec==0){
                    minute--;
                    sec=60;
                  if(minute==0){
                    hours--
                    minute=59;
                  }
                  if(hour==0){
                    document.getElementById("timer").innerHTML = 'Time Out';
                    clearInterval();
                  }
                  }
                }, 1000);
              }*/
     </script>
</body>
</html>