<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QUESTION HUB</title>
  {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static '/css/questionhub.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/css/questionhubnav.css' %}">
</head>

<body>

<!-- navbar -->
  <nav class="navbar fixed-top navbar-expand-xl">
    <img class="clashlogo" style="width: 60px; height: 30px;"
        src="{% static '/img/clashwhite.png' %}" height="30px">
        <div class="topnav-centered">
          <h5>Question Hub</h5>
        <!-- <table class="table-bordered">
                <thead>
                  <tr>
                    <th class="px-3" scope="col"><h4>x</h4></th>
                    <th class="px-3" scope="col"><h4>x</h4></th>
                    <th class="px-3" scope="col"><h4>x</h4></th>
                  </tr>
                </thead>
              </table> -->
        </div>
      <button class="navbar-toggler navbar-dark" type="button"
      data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon "></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'showSubmissions' questions.0.id %}">Submissions</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'leaderboard' %}">Leaderboard</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="{% url 'logout' %}" class="btn btn-info btn-round" data-toggle="modal" data-target="#loginModal">
            <i style="margin-right: 4px;" class="fas fa-pencil-alt"></i>Log out</a>
        </li>
        <li class="nav-item">
          <h7 class="nav-link" data-toggle="modal" data-target="#loginModal">
            <i style="margin-right: 4px;" class="fas fa-pencil-alt"></i><img src="{% static '/img/logo pisb_2.png' %}" class="pisblogo" style="width: 110px; height: 30px;"></h7>
        </li>
      </ul>
    </div>
  </nav>

<!-- navend -->


<div class="container-fluid">
<div class="row mx-auto">
<div class="col-xl-4">
  <div class="col-md-8 p-8 mr-8 grid" class="ques">
        <div class="wrapper container pt-5">
          <a onclick="window.location.href='{% url 'question_view' questions.0.id %}'"><div class="card text-center">
            <div class="card-header">
              {{ questions.0.quesTitle }}
            </div>
            <div class="card-body mx-auto">
              <p>Time:- 00:00</p>
              <p>Status</p>
            <div class="set-size charts-container">
              <div id="progress0" class="pie-wrapper">
                <span id="accuracy0" class="label">{{ questions.0.accuracy }}<span class="smaller">%</span></span>
                <div class="pie">
                  <div class="left-side half-circle"></div>
                  <div class="right-side half-circle"></div>
                </div>
              </div>
            </div>
                <!-- <button type="button" class="btn btn-info">Primary</button> -->
            </div>
          </div></a>
  </div>
</div>
  <div class="col-md-8 p-8 mr-8 grid">
        <div class="wrapper container pt-5">
        <a onclick="window.location.href='{% url 'question_view' questions.3.id %}'">
          <div class="card text-center">
            <div class="card-header">
              {{ questions.3.quesTitle }}
            </div>
            <div class="card-body mx-auto">
              <p>Time:- 00:00</p>
              <p>Status</p>
            <div class="set-size charts-container">
              <div id="progress3" class="pie-wrapper">
                <span id="accuracy3" class="label">{{ questions.3.accuracy }}<span class="smaller">%</span></span>
                <div class="pie">
                  <div class="left-side half-circle"></div>
                  <div class="right-side half-circle"></div>
                </div>
              </div>
            </div>
              <!-- <button type="button" class="btn btn-info">Primary</button> -->
            </div>
          </div></a>
  </div>
</div>
</div>

<div class="col-xl-4">
  <div class="col-md-8 p-8 mr-8 grid">
        <div class="wrapper container pt-5">
          <a onclick="window.location.href='{% url 'question_view' questions.1.id %}'">
          <div class="card text-center">
            <div class="card-header">
              {{ questions.1.quesTitle }}
            </div>
            <div class="card-body mx-auto">
            <p>Time:- 00:00</p>
            <p>Status</p>
            <div class="set-size charts-container">
              <div id="progress1" class="pie-wrapper">
                <span id="accuracy1" class="label">{{ questions.1.accuracy }}<span class="smaller">%</span></span>
                <div class="pie">
                  <div class="left-side half-circle"></div>
                  <div class="right-side half-circle"></div>
                </div>
              </div>
            </div>
              <!-- <button type="button" class="btn btn-info">Primary</button> -->
            </div>
          </div></a>
  </div>
</div>
  <div class="col-md-8 p-8 mr-8 grid">
        <div class="wrapper container pt-5">
          <a onclick="window.location.href='{% url 'question_view' questions.4.id %}'">
          <div class="card text-center">
            <div class="card-header">
              {{ questions.4.quesTitle }}
            </div>
            <div class="card-body mx-auto">
            <p>Time:- 00:00</p>
            <p>Status</p>
            <div class="set-size charts-container">
              <div id="progress4" class="pie-wrapper">
                <span id="accuracy4" class="label">{{ questions.4.accuracy }}<span class="smaller">%</span></span>
                <div class="pie">
                  <div class="left-side half-circle"></div>
                  <div class="right-side half-circle"></div>
                </div>
              </div>
            </div>
              <!-- <button type="button" class="btn btn-info">Primary</button> -->
            </div>
          </div>
        </a>
  </div>
</div>
</div>
<div class="col-xl-4">
  <div class="col-md-8 p-8 mr-8 grid">
        <div class="wrapper container pt-5">
          <a onclick="window.location.href='{% url 'question_view' questions.2.id %}'">
          <div class="card text-center">
            <div class="card-header">
              {{ questions.2.quesTitle }}
            </div>
        <div class="card-body mx-auto">
          <p>Time:- 00:00</p>
          <p>Status</p>
            <div class="set-size charts-container">
              <div id="progress2" class="pie-wrapper">
                <span id="accuracy2" class="label">{{ questions.2.accuracy }}<span class="smaller">%</span></span>
                <div class="pie">
                  <div class="left-side half-circle"></div>
                  <div class="right-side half-circle"></div>
                </div>
              </div>
            </div>
              <!-- <button type="button" class="btn btn-info">Primary</button> -->
            </div>
          </div>
        </a>
  </div>
</div>
  <div class="col-md-8 p-8 mr-8 grid" class="ques">
        <div class="wrapper container pt-5">
          <a onclick="window.location.href='{% url 'question_view' questions.5.id %}'">
          <div class="card text-center">
            <div class="card-header">
              {{ questions.5.quesTitle }}
            </div>
            <div class="card-body mx-auto">
            <p>Time:- 00:00</p>
            <p>Status</p>
            <div class="set-size charts-container">
              <div id="progress5" class="pie-wrapper">
                <span id="accuracy5" class="label">{{ questions.5.accuracy }}<span class="smaller">%</span></span>
                <div class="pie">
                  <div class="left-side half-circle"></div>
                  <div class="right-side half-circle"></div>
                </div>
              </div>
            </div>
              <!-- <button type="button" class="btn btn-info">Primary</button> -->
            </div>
          </div>
        </a>
  </div>
</div>
</div>

</div>
</div>
</div>


<!-- footer -->
<div class="footer">
  <p>©PICT IEEE Student Branch</p>
</div>
<!-- footer -->

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
<script>
  let accuracy0 = document.querySelector('#accuracy0').textContent;
  let progress0 = document.querySelector('#progress0');

  accuracy0= parseInt(accuracy0.substring(0, accuracy0.length -1))

  let accuracy1 = document.querySelector('#accuracy1').textContent;
  let progress1 = document.querySelector('#progress1');

  accuracy1 = parseInt(accuracy1.substring(0, accuracy1.length -1))

  let accuracy2 = document.querySelector('#accuracy2').textContent;
  let progress2 = document.querySelector('#progress2');

  accuracy2 = parseInt(accuracy2.substring(0, accuracy2.length -1))

  let accuracy3 = document.querySelector('#accuracy3').textContent;
  let progress3 = document.querySelector('#progress3');

  accuracy3 = parseInt(accuracy3.substring(0, accuracy3.length -1))

  let accuracy4 = document.querySelector('#accuracy4').textContent;
  let progress4 = document.querySelector('#progress4');

  accuracy4 = parseInt(accuracy4.substring(0, accuracy4.length -1))

  let accuracy5 = document.querySelector('#accuracy5').textContent;
  let progress5 = document.querySelector('#progress5');

  accuracy5 = parseInt(accuracy5.substring(0, accuracy5.length -1))





  if (0<accuracy0 && accuracy0<=10) {
    progress0.classList.add('progress-10');
  }
  else if (10<accuracy0 && accuracy0<=20)
  {
    progress0.classList.add('progress-20');
  }
  else if (20<accuracy0 && accuracy0<=30 && accuracy0!=25)
  {
    progress0.classList.add('progress-30');
  }
  else if (accuracy0==25)
  {
    progress0.classList.add('progress-25');
  }
  else if (30<accuracy0 && accuracy0<=40)
  {
    progress0.classList.add('progress-40');
  }
  else if (40<accuracy0 && accuracy0<=50)
  {
    progress0.classList.add('progress-50');
  }
  else if(50<accuracy0 && accuracy0<=60)
  {
    progress0.classList.add('progress-60');
  }
  else if(60<accuracy0 && accuracy0<=70)
  {
    progress0.classList.add('progress-70');
  }
  else if(70<accuracy0 && accuracy0<=80 && accuracy0!=75)
  {
    progress0.classList.add('progress-80');
  }
  else if(accuracy0==75)
  {
    progress0.classList.add('progress-75');
  }
  else if(80<accuracy0 && accuracy0<=90)
  {
    progress0.classList.add('progress-90');
  }
  else if(accuracy0>=90 && accuracy0<100)
  {
      progress0.classList.add('progress-90');
  }
  else if(accuracy0==100)
  {
      progress0.classList.add('progress-100');
  }


if (0<accuracy1 && accuracy1<=10) {
    progress1.classList.add('progress-10');
  }
  else if (10<accuracy1 && accuracy1<=20)
  {
    progress1.classList.add('progress-20');
  }
  else if (20<accuracy1 && accuracy1<=30 && accuracy1!=25)
  {
    progress1.classList.add('progress-30');
  }
  else if (accuracy1==25)
  {
    progress1.classList.add('progress-25');
  }
  else if (30<accuracy1 && accuracy1<=40)
  {
    progress1.classList.add('progress-40');
  }
  else if (40<accuracy1 && accuracy1<=50)
  {
    progress1.classList.add('progress-50');
  }
  else if(50<accuracy1 && accuracy1<=60)
  {
    progress1.classList.add('progress-60');
  }
  else if(60<accuracy1 && accuracy1<=70)
  {
    progress1.classList.add('progress-70');
  }
  else if(70<accuracy1 && accuracy1<=80 && accuracy1!=75)
  {
    progress1.classList.add('progress-80');
  }
  else if(accuracy1==75)
  {
    progress1.classList.add('progress-75');
  }
  else if(80<accuracy1 && accuracy1<=90)
  {
    progress1.classList.add('progress-90');
  }
  else if(accuracy1>=90 && accuracy1<100)
  {
      progress1.classList.add('progress-90');
  }
  else if(accuracy1==100)
  {
      progress1.classList.add('progress-100');
  }



if (0<accuracy2 && accuracy2<=10) {
    progress2.classList.add('progress-10');
  }
  else if (10<accuracy2 && accuracy2<=20)
  {
    progress2.classList.add('progress-20');
  }
  else if (20<accuracy2 && accuracy2<=30 && accuracy2!=25)
  {
    progress2.classList.add('progress-30');
  }
  else if (accuracy2==25)
  {
    progress2.classList.add('progress-25');
  }
  else if (30<accuracy2 && accuracy2<=40)
  {
    progress2.classList.add('progress-40');
  }
  else if (40<accuracy2 && accuracy2<=50)
  {
    progress2.classList.add('progress-50');
  }
  else if(50<accuracy2 && accuracy2<=60)
  {
    progress2.classList.add('progress-60');
  }
  else if(60<accuracy2 && accuracy2<=70)
  {
    progress2.classList.add('progress-70');
  }
  else if(70<accuracy2 && accuracy2<=80 && accuracy2!=75)
  {
    progress2.classList.add('progress-80');
  }
  else if(accuracy2==75)
  {
    progress2.classList.add('progress-75');
  }
  else if(80<accuracy2 && accuracy2<=90)
  {
    progress2.classList.add('progress-90');
  }
  else if(accuracy2>=90 && accuracy2<100)
  {
      progress2.classList.add('progress-90');
  }
  else if(accuracy2==100)
  {
      progress2.classList.add('progress-100');
  }




if (0<accuracy3 && accuracy3<=10) {
    progress3.classList.add('progress-10');
  }
  else if (10<accuracy3 && accuracy3<=20)
  {
    progress3.classList.add('progress-20');
  }
  else if (20<accuracy3 && accuracy3<=30 && accuracy3!=25)
  {
    progress3.classList.add('progress-30');
  }
  else if (accuracy3==25)
  {
    progress3.classList.add('progress-25');
  }
  else if (30<accuracy3 && accuracy3<=40)
  {
    progress3.classList.add('progress-40');
  }
  else if (40<accuracy3 && accuracy3<=50)
  {
    progress3.classList.add('progress-50');
  }
  else if(50<accuracy3 && accuracy3<=60)
  {
    progress3.classList.add('progress-60');
  }
  else if(60<accuracy3 && accuracy3<=70)
  {
    progress3.classList.add('progress-70');
  }
  else if(70<accuracy3 && accuracy3<=80 && accuracy3!=75)
  {
    progress3.classList.add('progress-80');
  }
  else if(accuracy3==75)
  {
    progress3.classList.add('progress-75');
  }
  else if(80<accuracy3 && accuracy3<=90)
  {
    progress3.classList.add('progress-90');
  }
  else if(accuracy3>=90 && accuracy3<100)
  {
      progress3.classList.add('progress-90');
  }
  else if(accuracy3==100)
  {
      progress3.classList.add('progress-100');
  }



if (0<accuracy4 && accuracy4<=10) {
    progress2.classList.add('progress-10');
  }
  else if (10<accuracy4 && accuracy4<=20)
  {
    progress4.classList.add('progress-20');
  }
  else if (20<accuracy4 && accuracy4<=30 && accuracy4!=25)
  {
    progress4.classList.add('progress-30');
  }
  else if (accuracy4==25)
  {
    progress4.classList.add('progress-25');
  }
  else if (30<accuracy4 && accuracy4<=40)
  {
    progress4.classList.add('progress-40');
  }
  else if (40<accuracy4 && accuracy4<=50)
  {
    progress4.classList.add('progress-50');
  }
  else if(50<accuracy4 && accuracy4<=60)
  {
    progress4.classList.add('progress-60');
  }
  else if(60<accuracy4 && accuracy4<=70)
  {
    progress4.classList.add('progress-70');
  }
  else if(70<accuracy4 && accuracy4<=80 && accuracy4!=75)
  {
    progress4.classList.add('progress-80');
  }
  else if(accuracy4==75)
  {
    progress4.classList.add('progress-75');
  }
  else if(80<accuracy4 && accuracy4<=90)
  {
    progress4.classList.add('progress-90');
  }
  else if(accuracy4>=90 && accuracy4<100)
  {
      progress4.classList.add('progress-90');
  }
  else if(accuracy4==100)
  {
      progress4.classList.add('progress-100');
  }




  if (0<accuracy5 && accuracy5<=10) {
    progress5.classList.add('progress-10');
  }
  else if (10<accuracy5 && accuracy5<=20)
  {
    progress5.classList.add('progress-20');
  }
  else if (20<accuracy5 && accuracy5<=30 && accuracy5!=25)
  {
    progress5.classList.add('progress-30');
  }
  else if (accuracy5==25)
  {
    progress5.classList.add('progress-25');
  }
  else if (30<accuracy5 && accuracy5<=40)
  {
    progress5.classList.add('progress-40');
  }
  else if (40<accuracy5 && accuracy5<=50)
  {
    progress5.classList.add('progress-50');
  }
  else if(50<accuracy5 && accuracy5<=60)
  {
    progress5.classList.add('progress-60');
  }
  else if(60<accuracy5 && accuracy5<=70)
  {
    progress5.classList.add('progress-70');
  }
  else if(70<accuracy5 && accuracy5<=80 && accuracy5!=75)
  {
    progress5.classList.add('progress-80');
  }
  else if(accuracy5==75)
  {
    progress5.classList.add('progress-75');
  }
  else if(80<accuracy5 && accuracy5<=90)
  {
    progress5.classList.add('progress-90');
  }
  else if(accuracy5>=90 && accuracy5<100)
  {
      progress5.classList.add('progress-90');
  }
  else if(accuracy5==100)
  {
      progress5.classList.add('progress-100');
  }

</script>
</body>
</html>