<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <title>Submission Page Clash</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">
        <link rel="stylesheet"  href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <link rel="stylesheet"  href="{% static '/css/submission.css' %}">
        <link rel="stylesheet"  href="{% static '/css/subm.css' %}">
    </head>
    <body>
        <nav class="navbar navbar-expand-sm navbar-light justify-content-right nbt">

            <img class="cl" src="{% static '/img/clashwhite.png' %}">
            <a class="navbar-brand ht"  href="#" >Submissions</a>
            <button class="navbar-toggler navbar-dark " type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon navbar-dark"></span>
            </button>
            <span id="timer" style="color:white; text-align:left; font-size:1.7vw;"></span>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
              <ul class="navbar-nav ">
                <li class="nav-item ">
                  <a class="nav-link no1 to"  href="{% url 'questionhub' %}" >Question Hub </a>
                </li>
                <li class="nav-item ">
                  <a class="nav-link no2 to"  href="{% url 'leaderboard' %}" >Leaderboard</a>
                </li>
                <li class="nav-item ">
                  <a class="nav-link no3 to"  href="{% url 'logout' %}" >Logout</a>
                </li>
              </ul>
              <img class="logo" src="{% static '/img/logo2.png' %}">
            </div>
          </nav>
          <div class="container-fluid">
              <div class="row brdr quepg justify-content-center">
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                      <li class="page-item disabled prev">
                        <a class="page-link qno" href="#" tabindex="-1" aria-disabled="true">Question No:</a>
                      </li>
                      <li class="page-item"><a class="page-link qno" href="{% url 'showSubmissions' questions.0.id %}">1</a></li>
                      <li class="page-item"><a class="page-link qno" href="{% url 'showSubmissions' questions.1.id %}">2</a></li>
                      <li class="page-item"><a class="page-link qno" href="{% url 'showSubmissions' questions.2.id %}">3</a></li>
                      <li class="page-item"><a class="page-link qno" href="{% url 'showSubmissions' questions.3.id %}">4</a></li>
                      <li class="page-item"><a class="page-link qno" href="{% url 'showSubmissions' questions.4.id %}">5</a></li>
                      <li class="page-item"><a class="page-link qno" href="{% url 'showSubmissions' questions.5.id %}">6</a></li>
                    </ul>
                  </nav>
              </div>
              <div class="row mx-auto">
                  {% for submission in submissions %}
                <div class="col-10 col-md-4 brdr ">
                     <!--part needs to be changed-->
                    <div class="card formedia">
                    <a href="#" onclick="func()">
                        <h5 class="card-header  subh">Submission {{ forloop.counter }}</h5>
                        <div class="card-body">
                            <p class="time">Time :- &nbsp;{{ submission.subTime }}</p>
                            <p class="card-text txt">Status</p>
                            <div class="set-size charts-container">
                                <div id="progress0" class="pie-wrapper">
                                  <span id="accuracy0" class="label">{{ submission.TestCasesPercentage }}<span class="smaller">%</span></span>
                                  <div class="pie">
                                    <div class="left-side half-circle"></div>
                                    <div class="right-side half-circle"></div>
                                  </div>
                                </div>
                              </div>
                        </div>
                    </a>
                    </div>

                </div>
                  {% endfor %}

                    </div>
                <nav class="navbar navbar-expand-lg justify-content-center navbar-light nbb" style=" margin-left: -1vw;">
                    <a class="navbar-brand nbb1 mc-auto">&#169 PICT IEEE Student Branch</a>
                </nav>

        <script>
            func()
            {
                try
                {
                  window.location.href = "{% url 'viewcode' 0 %}";
                }
                except
                {
                console.log("error")
                }
            }
        </script>
            <script>
                $(document).ready(function() {
                        var pageItem = $(".pagination li").not(".prev");

                        pageItem.click(function() {
                            pageItem.removeClass("active");
                            $(this).not(".prev").addClass("active");
                        });

                        });

            </script>
            <script>

              let countdown = 30 * 60;
              const timerBlock = document.querySelector('#timer');
              const x = setInterval(() => {
                countdown = countdown - 1;
                let minutes = Math.floor(countdown / 60);
                let seconds = Math.floor(countdown - minutes * 60);
                if (countdown < 0) {
                  timerBlock.innerHTML = 'Expired';
                  clearInterval(x);
                }
                timerBlock.innerHTML =  `${minutes} : ${seconds}`;
              }, 1000);
            </script>

        <script>
  let accuracy0 = document.querySelector('#accuracy0').textContent;
  let progress0 = document.querySelector('#progress0');

  accuracy0= parseInt(accuracy0.substring(0, accuracy0.length -1))

  let accuracy1 = document.querySelector('#accuracy1').textContent;
  let progress1 = document.querySelector('#progress1');

  accuracy1 = parseInt(accuracy1.substring(0, accuracy1.length -1))

  let accuracy2 = document.querySelector('#accuracy2').textContent;
  let progress2 = document.querySelector('#progress2');

  accuracy2 = parseInt(accuracy2.substring(0, accuracy2.length -1))

  let accuracy3 = document.querySelector('#accuracy3').textContent;
  let progress3 = document.querySelector('#progress3');

  accuracy3 = parseInt(accuracy3.substring(0, accuracy3.length -1))

  let accuracy4 = document.querySelector('#accuracy4').textContent;
  let progress4 = document.querySelector('#progress4');

  accuracy4 = parseInt(accuracy4.substring(0, accuracy4.length -1))

  let accuracy5 = document.querySelector('#accuracy5').textContent;
  let progress5 = document.querySelector('#progress5');

  accuracy5 = parseInt(accuracy5.substring(0, accuracy5.length -1))





  if (0<accuracy0 && accuracy0<=10) {
    progress0.classList.add('progress-10');
  }
  else if (10<accuracy0 && accuracy0<=20)
  {
    progress0.classList.add('progress-20');
  }
  else if (20<accuracy0 && accuracy0<=30 && accuracy0!=25)
  {
    progress0.classList.add('progress-30');
  }
  else if (accuracy0==25)
  {
    progress0.classList.add('progress-25');
  }
  else if (30<accuracy0 && accuracy0<=40)
  {
    progress0.classList.add('progress-40');
  }
  else if (40<accuracy0 && accuracy0<=50)
  {
    progress0.classList.add('progress-50');
  }
  else if(50<accuracy0 && accuracy0<=60)
  {
    progress0.classList.add('progress-60');
  }
  else if(60<accuracy0 && accuracy0<=70)
  {
    progress0.classList.add('progress-70');
  }
  else if(70<accuracy0 && accuracy0<=80 && accuracy0!=75)
  {
    progress0.classList.add('progress-80');
  }
  else if(accuracy0==75)
  {
    progress0.classList.add('progress-75');
  }
  else if(80<accuracy0 && accuracy0<=90)
  {
    progress0.classList.add('progress-90');
  }
  else if(accuracy0>=90 && accuracy0<100)
  {
      progress0.classList.add('progress-95');
  }
  else if(accuracy0==100)
  {
      progress0.classList.add('progress-100');
  }


if (0<accuracy1 && accuracy1<=10) {
    progress1.classList.add('progress-10');
  }
  else if (10<accuracy1 && accuracy1<=20)
  {
    progress1.classList.add('progress-20');
  }
  else if (20<accuracy1 && accuracy1<=30 && accuracy1!=25)
  {
    progress1.classList.add('progress-30');
  }
  else if (accuracy1==25)
  {
    progress1.classList.add('progress-25');
  }
  else if (30<accuracy1 && accuracy1<=40)
  {
    progress1.classList.add('progress-40');
  }
  else if (40<accuracy1 && accuracy1<=50)
  {
    progress1.classList.add('progress-50');
  }
  else if(50<accuracy1 && accuracy1<=60)
  {
    progress1.classList.add('progress-60');
  }
  else if(60<accuracy1 && accuracy1<=70)
  {
    progress1.classList.add('progress-70');
  }
  else if(70<accuracy1 && accuracy1<=80 && accuracy1!=75)
  {
    progress1.classList.add('progress-80');
  }
  else if(accuracy1==75)
  {
    progress1.classList.add('progress-75');
  }
  else if(80<accuracy1 && accuracy1<=90)
  {
    progress1.classList.add('progress-90');
  }
  else if(accuracy1>=90 && accuracy1<100)
  {
      progress1.classList.add('progress-90');
  }
  else if(accuracy1==100)
  {
      progress1.classList.add('progress-100');
  }



if (0<accuracy2 && accuracy2<=10) {
    progress2.classList.add('progress-10');
  }
  else if (10<accuracy2 && accuracy2<=20)
  {
    progress2.classList.add('progress-20');
  }
  else if (20<accuracy2 && accuracy2<=30 && accuracy2!=25)
  {
    progress2.classList.add('progress-30');
  }
  else if (accuracy2==25)
  {
    progress2.classList.add('progress-25');
  }
  else if (30<accuracy2 && accuracy2<=40)
  {
    progress2.classList.add('progress-40');
  }
  else if (40<accuracy2 && accuracy2<=50)
  {
    progress2.classList.add('progress-50');
  }
  else if(50<accuracy2 && accuracy2<=60)
  {
    progress2.classList.add('progress-60');
  }
  else if(60<accuracy2 && accuracy2<=70)
  {
    progress2.classList.add('progress-70');
  }
  else if(70<accuracy2 && accuracy2<=80 && accuracy2!=75)
  {
    progress2.classList.add('progress-80');
  }
  else if(accuracy2==75)
  {
    progress2.classList.add('progress-75');
  }
  else if(80<accuracy2 && accuracy2<=90)
  {
    progress2.classList.add('progress-90');
  }
  else if(accuracy2>=90 && accuracy2<100)
  {
      progress2.classList.add('progress-90');
  }
  else if(accuracy2==100)
  {
      progress2.classList.add('progress-100');
  }




if (0<accuracy3 && accuracy3<=10) {
    progress3.classList.add('progress-10');
  }
  else if (10<accuracy3 && accuracy3<=20)
  {
    progress3.classList.add('progress-20');
  }
  else if (20<accuracy3 && accuracy3<=30 && accuracy3!=25)
  {
    progress3.classList.add('progress-30');
  }
  else if (accuracy3==25)
  {
    progress3.classList.add('progress-25');
  }
  else if (30<accuracy3 && accuracy3<=40)
  {
    progress3.classList.add('progress-40');
  }
  else if (40<accuracy3 && accuracy3<=50)
  {
    progress3.classList.add('progress-50');
  }
  else if(50<accuracy3 && accuracy3<=60)
  {
    progress3.classList.add('progress-60');
  }
  else if(60<accuracy3 && accuracy3<=70)
  {
    progress3.classList.add('progress-70');
  }
  else if(70<accuracy3 && accuracy3<=80 && accuracy3!=75)
  {
    progress3.classList.add('progress-80');
  }
  else if(accuracy3==75)
  {
    progress3.classList.add('progress-75');
  }
  else if(80<accuracy3 && accuracy3<=90)
  {
    progress3.classList.add('progress-90');
  }
  else if(accuracy3>=90 && accuracy3<100)
  {
      progress3.classList.add('progress-90');
  }
  else if(accuracy3==100)
  {
      progress3.classList.add('progress-100');
  }



if (0<accuracy4 && accuracy4<=10) {
    progress2.classList.add('progress-10');
  }
  else if (10<accuracy4 && accuracy4<=20)
  {
    progress4.classList.add('progress-20');
  }
  else if (20<accuracy4 && accuracy4<=30 && accuracy4!=25)
  {
    progress4.classList.add('progress-30');
  }
  else if (accuracy4==25)
  {
    progress4.classList.add('progress-25');
  }
  else if (30<accuracy4 && accuracy4<=40)
  {
    progress4.classList.add('progress-40');
  }
  else if (40<accuracy4 && accuracy4<=50)
  {
    progress4.classList.add('progress-50');
  }
  else if(50<accuracy4 && accuracy4<=60)
  {
    progress4.classList.add('progress-60');
  }
  else if(60<accuracy4 && accuracy4<=70)
  {
    progress4.classList.add('progress-70');
  }
  else if(70<accuracy4 && accuracy4<=80 && accuracy4!=75)
  {
    progress4.classList.add('progress-80');
  }
  else if(accuracy4==75)
  {
    progress4.classList.add('progress-75');
  }
  else if(80<accuracy4 && accuracy4<=90)
  {
    progress4.classList.add('progress-90');
  }
  else if(accuracy4>=90 && accuracy4<100)
  {
      progress4.classList.add('progress-90');
  }
  else if(accuracy4==100)
  {
      progress4.classList.add('progress-100');
  }




  if (0<accuracy5 && accuracy5<=10) {
    progress5.classList.add('progress-10');
  }
  else if (10<accuracy5 && accuracy5<=20)
  {
    progress5.classList.add('progress-20');
  }
  else if (20<accuracy5 && accuracy5<=30 && accuracy5!=25)
  {
    progress5.classList.add('progress-30');
  }
  else if (accuracy5==25)
  {
    progress5.classList.add('progress-25');
  }
  else if (30<accuracy5 && accuracy5<=40)
  {
    progress5.classList.add('progress-40');
  }
  else if (40<accuracy5 && accuracy5<=50)
  {
    progress5.classList.add('progress-50');
  }
  else if(50<accuracy5 && accuracy5<=60)
  {
    progress5.classList.add('progress-60');
  }
  else if(60<accuracy5 && accuracy5<=70)
  {
    progress5.classList.add('progress-70');
  }
  else if(70<accuracy5 && accuracy5<=80 && accuracy5!=75)
  {
    progress5.classList.add('progress-80');
  }
  else if(accuracy5==75)
  {
    progress5.classList.add('progress-75');
  }
  else if(80<accuracy5 && accuracy5<=90)
  {
    progress5.classList.add('progress-90');
  }
  else if(accuracy5>=90 && accuracy5<100)
  {
      progress5.classList.add('progress-90');
  }
  else if(accuracy5==100)
  {
      progress5.classList.add('progress-100');
  }

 </script>


    </body>
</html>